@charset "utf-8";

body {
	margin:0;
	padding:0;
	font-size:12px;
}

table, tr, td {
	border : 1px solid black;
	border-collapse : collapse;
}

nav{
	padding-top:10px;
	padding-left:30px;
	font-size: 12px;
	height:20px;	
	color:black;
	background:lightblue;
}

A:link{ color:#555555; text-decoration:none;}
A:visited{ color: #555555; text-decoration:none;}
A:active{ color: #555555; text-decoration:none;}
A:hover{ color: #000000; text-decoration:underline;}
